@import "sass/base/_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


// Vars

$primary-color: #1a181a;
$secondary-color: #be42f0;

body {
    position: relative;
    font-family: 'JetBrains Mono', monospace;
    min-height: 100%;
    min-height: 100vh;
}

.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 2;

    &__logo {
        border: black 2px solid;
        border-radius: 50%;
        height: 2.5rem;
        aspect-ratio: 1/1;
    }

    &__nav, .nav__list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
}

.main-container {
    margin: 0 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
}

span {
    font-weight: bold;
    color: $secondary-color;
}
.hero {
    // position: relative;
    display: flex;
    justify-content: center;
    gap: 4rem;



    &__content {
        display: flex;
        flex-flow: column wrap;
        gap: 2rem;
        justify-content: center;
    }
    &__header {
        font-size: 3rem;
    }

    &__subtitle {
        width: 35rem;

    }

    &__carousel {
        // background-image: url("assets/images/mac-os-window.svg");
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 2rem;
        margin-top: 4rem;
        // border: black solid .3rem;
        // border-radius: 25px 25px 25px 25px;


       &__arrow {
        position: absolute;
        cursor: pointer;


        &--left {left: 2rem; top: 50%}
        &--right {right: 2rem; top: 50%}
    }
    }

    &__banner {
        width: 650px;
        height: 400px;
        object-fit: cover;

        &__tagline {
            font-size: 1rem;
        }
    }
        
}

.container {

    color: $primary-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    

    border-radius: 1rem;
    padding: 2rem 2rem;

    overflow: hidden;
    text-overflow: ellipsis;

    &__title {
        font-size: 1.5rem;
        border-bottom: $primary-color .25rem solid;
        padding-bottom: .5rem;
    }

    // &::before {
    //     content: "Websites";
    //     font-size: 1.5rem;
    //     font-weight: 700;
    //     width: min-content;
    //     padding-bottom: .25rem;
    //     border-bottom: $primary-color 0.2rem solid;
    // }

    @media (max-width: 767.98px) {
        
    }

    &__icon {
        padding-right: 20px;
        font-size: 20px;

        @media (max-width: 767.98px) {
            
        }
    }

    &__link {
        font-size: 20px;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 5px;
        width: min-content;

        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $primary-color;
        }
    }
}

.footer {

    background-color: $primary-color;
    width: 100%;
    margin: 0;
    padding: 5px 0 15px 0;
    color: white;
    display: flex;

    flex-direction: column;
    gap: 8px;



    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;


    }

    &__license {
        font-size: 10px;
        text-align: center;
    }
}